*{
    box-sizing: border-box;
}


.container{
    width: 90vw;
    height: auto;
 margin-top: 5vh;
 border-style: solid;
 border-width: 3px;
 border-color: black;
 
}

#myRow{
    height: 10vh;
}

.row{
    height: 50%;
    padding: 5px;
    margin: 5px;
}

.col-sm-6{
    height: auto;
    min-height: 200px;
    min-width: 200px;
}

.col-sm-18{
    height: 30vh;
    min-height: 200px;
    min-width: 200px;
}




 canvas{
    width:100%;
    max-height: inherit;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    margin-top: 2vw;
}

 

